@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-background: #1c2541;
  --color-surface: #3a506b;
  --color-primary: #008bf8;
  --color-accent: #00c9a7;
  --color-text-primary: #f0f4f8;
  --color-text-secondary: #a9b4c2;
  --color-text-field: #95a4ba;
  --color-text-error: #D32F2F;
}
